@import "tailwindcss";
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pinyon+Script&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pinyon+Script&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap'); */

@theme {
  --font-script: 'Pinyon Script', cursive;
  --font-sans: 'Montserrat', sans-serif;
  --font-serif: 'Playfair Display', serif;
  --font-helvetica: 'Helvetica', sans-serif;
}